/*responsive */ 


.project__details{
    @media(max-width:991px){
        .carousel-inner,.project__caption,.date_holder{
            width: 65% !important;
        }
        .carousel-control-next, .carousel-control-prev{
            width: 10%;
        }
        #carouselExampleControls .carousel-control-next{
            right: 0;
        }
        #carouselExampleControls .carousel-control-prev{
            left: 0;
        }
         #carouselExampleControls .carousel-control-next,
          #carouselExampleControls .carousel-control-prev{
              img{
                  width: 40px;
              }
          }
         
    }
    @media(max-width:575px){
        .carousel-inner,.project__caption,.date_holder{
            width: 75% !important;
        }
        .project__caption{
            h3{
                font-size: 1.2rem;
            }
            p{
                font-size: .75rem;
            }
        }
    }
    
}